version: 2.1

executors:
  android:
    docker:
      - image: cimg/android:2025.11.1
    working_directory: ~/top/example
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError" -Dorg.gradle.daemon=false'
  plugin:
    docker:
      - image: circleci/openjdk:8
    working_directory: ~/top
    environment:
      GRADLE_OPTS: '-Dorg.gradle.jvmargs="-Xmx2048m -XX:+HeapDumpOnOutOfMemoryError" -Dorg.gradle.daemon=false'

commands:
  setup_workspace:
    steps:
      - checkout:
          path: ~/top

  restore_gradle_cache:
    parameters: &gradle_cache_parameters
      cache_version:
        type: string
        default: v3
      cache_name:
        type: string
    steps:
      - run: ~/top/.circleci/generate_hashfile > ~/<< parameters.cache_name >>.lock
      - restore_cache:
          keys:
            - gradle-<< parameters.cache_version >>-{{ checksum "~/<< parameters.cache_name >>.lock" }}
  save_gradle_cache:
    parameters: *gradle_cache_parameters
    steps:
      - save_cache:
          paths:
            - ~/.android
            - ~/.gradle
            - .gradle
          key: gradle-<< parameters.cache_version >>-{{ checksum "~/<< parameters.cache_name >>.lock" }}
  switch_gradle:
    parameters:
      gradle-version:
        type: string
    steps:
      - run:
          name: Use the specified Gradle version
          command: |
            cat\<<EOF > gradle/wrapper/gradle-wrapper.properties
            distributionBase=GRADLE_USER_HOME
            distributionPath=wrapper/dists
            distributionUrl=https\://services.gradle.org/distributions/gradle-<< parameters.gradle-version >>-bin.zip
            zipStoreBase=GRADLE_USER_HOME
            zipStorePath=wrapper/dists
            EOF

jobs:
  install_plugin_jars:
    executor: plugin
    steps:
      - setup_workspace
      - restore_gradle_cache:
          cache_name: plugin
      - run: ./gradlew publishToMavenLocal --stacktrace
      - persist_to_workspace:
          root: ~/.m2
          paths:
            - repository

  schema_test:
    parameters: &build_env_parameters
      gradle-version:
        type: string
        description: Gradle version2
    executor: android
    steps:
      - setup_workspace
      - attach_workspace:
          at: ~/.m2
      - switch_gradle:
          gradle-version: << parameters.gradle-version >>
      - restore_gradle_cache:
          cache_name: example-<< parameters.gradle-version >>
      - run: java -version
      - run: ./gradlew assembleYellowBlueDebug --stacktrace # it's okay if succeed

  acceptance_test:
    parameters: *build_env_parameters
    executor: android
    steps:
      - setup_workspace
      - attach_workspace:
          at: ~/.m2
      - switch_gradle:
          gradle-version: << parameters.gradle-version >>
      - restore_gradle_cache:
          cache_name: example-<< parameters.gradle-version >>
      - run: java -version
      - run: 
          name: Validate
          command: ~/top/.circleci/validation_test
      - run: 
          name: Init
          command: ~/top/.circleci/init_test
      - run:
          name: Ignore
          command: ~/top/.circleci/ignore_test
      - run: 
          name: Merge
          command: ~/top/.circleci/merge_test
      - run:
          name: Inspect
          command: ~/top/.circleci/inspection_test
      - run:
          name: Visualize
          command: ~/top/.circleci/visualization_test
      - store_artifacts:
          path: app/src/yellowBlueRelease/assets
          destination: assets
      # TODO snapshot tests provided by espresso
      - save_gradle_cache:
          cache_name: example-<< parameters.gradle-version >>

workflows:
  version: 2
  on_commit:
    jobs:
      - install_plugin_jars
      - acceptance_test:
          requires:
            - install_plugin_jars
          matrix:
            parameters:
              gradle-version: ['8.14.3'] # '9.0'
      - schema_test:
          requires:
            - install_plugin_jars
          matrix:
            parameters:
              gradle-version: ['8.14.3'] # '9.0'